<div class="box-body pl-15 pr-15 pb-20 pr-0">

  <h6 class="mb-10 mt-28 font-w600 fs-20 line-h20">Prezado síndico,</h6>
  <p class="fs-15 line-h18 mb-22">Você está recebendo o programa de manutenções preventivas do seu edifício, conforme
    orientação da ABNT NBR 5674:2012.<br>
    Este programa possui informações sobre quais manutenções devem ser realizadas, a periodicidade com que elas devem
    ocorrer, quem pode realizar o serviço e, o mais importante, formulários de registro para que você possa documentar
    a ralização das manutenções, lembrando sempre de guardar evidências, como notas fiscais, contratos, fotos, entre
    outros.<br>
    A realização das manutenções é muito importante, pois a garantia do seu imóvel está condicionada a ela.</p>

  <h4 class="mb-10 mt-28 font-w600 fs-20 line-h20">Escopo</h4>
  <p class="fs-15 line-h18 mb-22">O programa de manutenção consiste na determinação das atividades essenciais de
    manutenção, sua periodicidade, responsáveis pela execução, documentos de referência, referências normativas e
    recursos necessários, todos referidos individualmente aos sistemas e, quando aplicável, aos elementos, componentes
    e equipamentos.</p>

  <h4 class="mb-10 mt-28 font-w600 fs-20 line-h20">Requisitos do controle de manutenção</h4>
  <p class="fs-16 font-w600 line-h18 mb-10">Orçamentos e contratação</p>
  <div class="row">
    <div class="col">
      <p class="fs-15 line-h18 mb-22">Os orçamentos dos serviços de manutenção devem conter:<br>
        • Dados do cliente;<br>
        • Escopo dos serviços ou objeto;<br>
        • Descrição de cada atividade, com os respectivos prazos;<br>
        • Especificações técnicas de execução e de manutenção futura, desenhos, cálculos ou projetos, quando
        aplicável;<br>
        • Condições comerciais, valor, forma de pagamento e validade da proposta;<br>
        • Responsabilidades legais e obrigações de cada parte, incluindo o atendimento à legislação pertinente quanto
        a segurança do trabalho;<br>
        • Indicação do responsável técnico pela atividade, quando aplicável;<br>
        • Garantias e exclusões;<br>
        • Provisão de seguros, quando aplicável.</p>
    </div>
    <div class="col">
      <p class="fs-15 line-h18 mb-22">Para avaliação das propostas, recomenda-se observar:<br>
        • Qualificação da empresa ou profissional, em termos de capacidade técnica, recursos humanos e equipamentos
        necessários ao desenvolvimento dos serviços;<br>
        • Experiência da empresa ou profissional na área, incluindo a menção de ourtos serviços em andamento ou já
        concluídos e o eventual fornecimento de acervo técnico;<br>
        • Referências de outros clientes;<br>
        • Proposta técnica apresentada, incluindo atendimento às normas aplicáveis e legislação;<br>
        • Habilitação jurídica, regularidade fiscal, ideneidade e capacidade financeira da empresa ou profissional,
        avaliadas em relação ao porte do serviço prestado;<br>
        • Prazo para execução, preço, condições de pagamento, cronograma físico financeiro com base no contrato.</p>
    </div>
  </div>
</div>
