{% extends 'main.html' %}

{% load static %}

{% block head %}
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
  <!-- BOXICONS -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-- Plugin -->
  <link rel="stylesheet" href="{% static 'protend/libs/owl.carousel/assets/owl.carousel.min.css' %}">
  <!-- APP CSS -->
  <link rel="stylesheet" href="{% static 'protend/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'protend/css/grid.css' %}">
  <link rel="stylesheet" href="{% static 'protend/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'protend/css/responsive.css' %}">
{% endblock %}

{% block main_content_extend_class %}dashboard{% endblock %}

{% block main_content %}
  {% if view.widget_notificacoes and view.widget_mensagens and view.widget_calendario %}
    {% include 'dashboard/row_notificacao.html' %}
  {% endif %}

  {% if perms.dashboard.dash_sistemas %}
    {% include 'dashboard/row_sistemas_edificio.html' %}
  {% endif %}

  {% if perms.dashboard.dash_custos and perms.dashboard.dash_sistemas %}
    <div class="row">
      {% include 'dashboard/box_linhas_custos.html' with class='col-6 col-sm-12' %}

      {% include 'dashboard/box_donut_sistemas.html' with class='col-6 col-sm-12' %}
    </div>
  {% endif %}
{% endblock %}