{% load static %}
{% load i18n %}

<div class="row">
  <div class="col-12">
    <div class="box card-box">
      {% if perms.dashboard.dash_notificacao %}
        {% include 'dashboard/card_notificacao.html' with card=view.widget_notificacoes %}
      {% endif %}

      {% if perms.dashboard.dash_mensagens %}
        {% include 'dashboard/card_notificacao.html' with card=view.widget_mensagens %}
      {% endif %}

      {% if perms.dashboard.dash_calendar %}
        {% include 'dashboard/card_notificacao.html' with card=view.widget_calendario %}
      {% endif %}
    </div>
  </div>
</div>